{% extends 'base.html' %}

{% block body %}
    <ol>
      {% for instance in page_obj %}
          <img src="{{ instance.logo }}" alt="" width="100" height="100">
          <p>{{ instance.id }} {{ instance.name }}</p>
          <p>{{ instance.description|safe }}</p>
      {% endfor %}
    </ol>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>


{% endblock %}